<!DOCTYPE html>
<html>
	<head>
		<title>@ViewBag.Title</title>
		@RenderSection("HeadSection", required: false)
	</head>

	<body>
		@Html.ValidationSummary()
		@RenderBody()
	</body>
</html>
