@using FoosballGameManager.Extensions
@model PlayersViewModel

@{
	ViewBag.Title = "Team manager";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Team manager</h2>

@using (Html.BeginForm("Create", "PlayerSelection", FormMethod.Post) )
{
	<div>
		@Html.ListBoxFor(model => model.SelectedPlayers, new SelectList(Model.Players.OrderBy(x => x.Name), "Id", "Name"))
	</div>
	
	<div>
		@Html.RadioButtonForEnum(x => x.TeamGenerationMethod)
	</div>

	<input type="submit" value="Create Teams" />
}

@using (Html.BeginForm("New", "Player", FormMethod.Get) )
{
	<input type="submit" value="Add player"/>
}
