@model dynamic

@{
    ViewBag.Title = "New Game";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Begynd nyt spil</h2>

@using (Html.BeginForm("NewGame", "Game", FormMethod.Get) )
{
	<input type="submit" value="Nyt spil"/>
}